<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input required type="text" [(ngModel)]="login.email" name="login.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input required type="password" [(ngModel)]="login.password" name="login.password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button fill="outline" expand="block" [disabled]="!f.form.valid || loading" (click)="doSingIn()">Sign In</ion-button>
    <ion-button fill="clear" expand="block" (click)="navCtrl.goForward('/auth/signup')">Sign Up</ion-button>
  </form>
</ion-content>
