<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input required type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button fill="outline" expand="block" [disabled]="!f.form.valid || loading" (click)="sendResetPassword()">Reset Password</ion-button>
  </form>
</ion-content>
